{% extends "base.html.twig" %}

{% block title %}
    <title>{{ "articlesList" }}</title>
{% endblock %}

{% block main %}
   <section class="insert">
       <a class="btn-insert" href={{ path("admin_insert_article") }}>Ajouter un article</a>
   </section>
   <section class= "container">
          {% for article in articlesList  %}
              {% if article.isPublished %}
                  <article>
                      <h2 class= "article-title">{{ article.title }}</h2>
                      <a href={{ path("admin_article", {"id": article.id}) }}>Cliquez ici</a>
                      <a href={{ path("admin_delete_article", {"id": article.id}) }}> Supprimez ici</a>
                      <p class= "author">{{ article.author }}</p>
                  </article>
              {% else %}
                  <p> L'article n'est pas publié </p>
              {% endif %}
          {% endfor %}
   </section>
{% endblock %}

{% block footer %}
    <p>footer 2</p>
{% endblock %}
