{% if article.isPublished %}
    <article>
        <h2 class= "article-title">{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <a href={{ path("article", {"id": article.id}) }}> Decriptif complet</a>
        <p>{{ article.isPublished }}</p>
        <p class= "author">{{ article.author }}</p>
    </article>
{% else %}
    <p> L'article n'est pas publié </p>
{% endif %}
