{% if article.isPublished %}
    <article>
        <img class="photos" src="{{ article.image }}" alt="séquence de film">
        <h2 class="article-title">{{ article.title }}</h2>
        <p class="publication">{{ article.publishedAt|date("m/d/Y") }}</p>
        <a href={{ path("article", {"id": article.id}) }}> Decriptif complet</a>
        <p class="author">{{ article.author }}</p>
    </article>
{% else %}
    <p>L'article n'est pas publié</p>
{% endif %}